doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Denisoed: Blog
    link(href='https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='assets/vendors/@fortawesome/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='assets/css/live-resume.css')
  body
    header
      button.btn.btn-white.btn-share.ml-auto.mr-3.ml-md-0.mr-md-auto(data-social='telegram')
        img.btn-img(src='assets/images/share.svg' alt='share')
        | Share to Telegram
      nav#collapsible-nav.collapsible-nav
        a.nav-link(href='/') Resume
        a.nav-link(href='portfolio.html') Portfolio
        a.nav-link.active(href='blog.html') Blog
        a.nav-link(href='#') Store
      button.btn.btn-menu-toggle.btn-white.rounded-circle(data-toggle='collapsible-nav' data-target='collapsible-nav')
        img(src='assets/images/hamburger.svg' alt='hamburger')
    .content-wrapper
      include ../assets/components/aside.pug
      main
        section.blog-section
          h2.section-title LATEST NEWS
          .blog-posts-wrapper
            article.blog-post
              a.blog-post-link(href='https://maddevs.io/blog/progressive-web-apps-practical-usage-guide', target='_blank')
                img.blog-post-thumbnail(src='https://images.prismic.io/superpupertest/c2fe46a4-59b1-4b75-8ef1-f2d12b7f6fbc_1.png' alt='PWA')
                h5.blog-post-title Progressive Web Apps: Practical usage guide
              p.blog-post-meta
                span.post-published-date 23 Jun 2020
            article.blog-post
              a.blog-post-link(href='https://maddevs.io/blog/how-to-set-up-automated-integration-tests-in-a-vue-application', target='_blank')
                img.blog-post-thumbnail(src='https://images.prismic.io/superpupertest/f295b7bb-2030-42fa-8f22-27930704e93c_1_B5IMpkuNUDs5Abi7d9LoAA.jpeg' alt='Vue testing')
                h5.blog-post-title How to set up automated integration tests in a Vue application
              p.blog-post-meta
                span.post-published-date 02 Mar 2021
            article.blog-post
              a.blog-post-link(href='https://maddevs.io/blog/how-to-deploy-a-project-on-heroku/', target='_blank')
                img.blog-post-thumbnail(src='https://images.prismic.io/superpupertest/b5f79190-45b6-495a-84c8-38abed608e55_How+To+Deploy+A+Project+On+Heroku.jpg' alt='Deploy project')
                h5.blog-post-title How to deploy a project on Heroku
              p.blog-post-meta
                span.post-published-date 09 Mar 2021
            article.blog-post
              a.blog-post-link(href='https://maddevs.io/blog/boilerplate-to-set-up-a-vue-project/', target='_blank')
                img.blog-post-thumbnail(src='https://images.prismic.io/superpupertest/f332cf9a-006f-4529-809e-7ddc867ff83e_Start+template+for+a+Vue+project.jpg' alt='Start template for a Vue project')
                h5.blog-post-title Start template for a Vue project
              p.blog-post-meta
                span.post-published-date 29 Mar 2021
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title How to create SSR application on NUXT
              p.blog-post-meta
                span.post-published-date In progress...
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title Example REST API on Node.js
              p.blog-post-meta
                span.post-published-date In progress...
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title Creating a widget on Vue
              p.blog-post-meta
                span.post-published-date In progress...
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title How to create a browser extension
              p.blog-post-meta
                span.post-published-date In progress...
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title How to optimize a website
              p.blog-post-meta
                span.post-published-date In progress...
            article.blog-post
              a.blog-post-link(href='#!', target='_blank')
                img.blog-post-thumbnail(src='https://image.freepik.com/free-vector/work-in-progress-rubber-stamp_1017-7150.jpg' alt='In progress')
                h5.blog-post-title Getting Started with Amazon S3
              p.blog-post-meta
                span.post-published-date In progress...
        include ../assets/components/footer.pug
    script(src='assets/vendors/jquery/jquery.min.js')
    script(src='assets/vendors/@popperjs/core/dist/umd/popper-base.min.js')
    script(src='assets/vendors/bootstrap/js/bootstrap.min.js')
    script(src='assets/vendors/entry/jq.entry.min.js')
    script(src='assets/js/live-resume.js')
