doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Portfolio
  link(href='https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='assets/vendors/@fortawesome/fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='assets/css/live-resume.css')
body
  header
    button.btn.btn-white.btn-share.ml-auto.mr-3.ml-md-0.mr-md-auto
      img.btn-img(src='assets/images/share.svg' alt='share')
      | SHARE
    nav#collapsible-nav.collapsible-nav
      a.nav-link(href='index.html') Resume
      a.nav-link.active(href='portfolio.html') Portfolio
      a.nav-link(href='blog.html') Blog
      a.nav-link(href='#') Contact
    button.btn.btn-menu-toggle.btn-white.rounded-circle(data-toggle='collapsible-nav' data-target='collapsible-nav')
      img(src='assets/images/hamburger.svg' alt='hamburger')
  .content-wrapper
    include ../assets/components/aside.pug
    main
      section.portfolio-section
      h2.section-title PORTFOLIO
      .portfolio-wrapper
        a(href="https://github.com/denisoed/obsidian-orthography", target="_blank").portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/obsidian-orthography.gif' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title Obsidian Orthography
            p.portfolio-item-description Obsidian plugin to check & fix orthography errors in text
        a(href="https://github.com/denisoed/react-router-carousel", target="_blank").portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/rrc.gif' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title React Router Carousel
            p.portfolio-item-description React carousel with the ability to switch routes, both with the usual swipe, and with the ability to add zones for swipe on the site
        a(href="https://github.com/denisoed/my-house-js-api", target="_blank").portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/mi-house-api.jpg' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title My House Node API
            p.portfolio-item-description Ready for product api, which will allow you to create, read, update, remove apartments. 
        figure.portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/img_4.png' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title PROJECT 04
            p.portfolio-item-description Branding, Photography
        figure.portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/img_5.png' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title PROJECT 05
            p.portfolio-item-description Branding, Photography
        figure.portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/img_6.png' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title PROJECT 06
            p.portfolio-item-description Branding, Photography
        figure.portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/img_7.png' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title PROJECT 07
            p.portfolio-item-description Branding, Photography
        figure.portfolio-item.hover-box
          img.portfolio-item-img(src='assets/images/img_8.png' alt='project')
          figcaption.portfolio-item-details.overlay
            h5.portfolio-item-title PROJECT 08
            p.portfolio-item-description Branding, Photography
      include ../assets/components/footer.pug
  script(src='assets/vendors/jquery/jquery.min.js')
  script(src='assets/vendors/@popperjs/core/dist/umd/popper-base.min.js')
  script(src='assets/vendors/bootstrap/js/bootstrap.min.js')
  script(src='assets/vendors/entry/jq.entry.min.js')
  script(src='assets/js/live-resume.js')
