aside
  .profile-img-wrapper
    img(src='assets/images/me.jpg' alt='profile')
  h1.profile-name Denis Grushkin
  .text-center
    span.badge.badge-white.badge-pill.profile-designation Frontend developer
  nav.social-links
    a.social-link(href='https://telegram.me/denisoed')
      i.fab.fa-telegram
    a.social-link(href='http://linkedin.com/in/denis-grushkin-161b31166' target='_blank')
      i.fab.fa-linkedin
    a.social-link(href='https://github.com/denisoed' target='_blank')
      i.fab.fa-github
  .widget.card
    .card-body
      .widget-content
        h5.widget-title.card-title personal information
        p BIRTHDAY : 6 December 1994
        p PHONE : +996 550 06 12 94
        p EMAIL : denisoed@gmail.com
        p LOCATION : Bishken, Kyrgyzstan
  .widget.card
    .card-body
      .widget-content
        h5.widget-title.card-title Languages
        p Russian: (5/5)
        p English: (2/5)
  .widget.card
    .card-body
      .widget-content
        h5.widget-title.card-title Interests
        p Coding
        p Gym
        p Mercedes-benz
        p J&auml;germeister
  .widget.card
    .card-body
      .widget-content
        h5.widget-title.card-title Goals for 2021
        p English (4/5)
        p 5 new Pet projects
        p 40 mini blog posts
  a.btn.btn-download-pdf.btn-primary.rounded-pill.btn-img(href='resume.pdf' download='')
    img(src='assets/images/download.svg' alt='download')
    | Download PDF
